.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 70%;
}

.title {
    font-size: 22pt;
    font-family: 'Kanit';
}

.buttonContainer {
    display: flex;
    width: 75%;

    flex-direction: row;
    align-items: center;
    justify-content:end;
    margin-top: 0.5rem;
}

.textAreaStyled {
    width: inherit;
    padding: 5px;
    border-radius: 10px;
    resize: none;
}