.container {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 0.5rem;

    border-width: 2px;
    border-style: solid;
    border-color: #000000;

    box-shadow: -2px 2px 0px black;
    border-radius: 10px;

    font-family: 'Kanit';
}

.postDateContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.postP {
    margin-left: 5px;
    font-weight: bold;
    color: #000;
    font-family: 'Kanit';
}

.content {
    width: 70%;
    align-items: center;
    justify-content: space-between;

    display: flex;
    flex-direction: row;
}

.postMsg {
    margin-top: 0.5rem;
    font-family: 'kanit';  
    color: #000;
}

.televisionContainer {
    display: flex;
    align-items: center;
    position: relative;
}

.television {
    position: absolute;
    margin-left: 1.4rem;

    height: 210px;
    width: 370px;

    top: 10px;
    left: 0px;
    opacity: 1;
}