.nav {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
}

.navDivA {
    display: flex;
    width: 25%;
    justify-content: flex-start;
}

.navDivB {
    width: 25%;
}

.navDivC {
    width: 25%;
}

.navDivD {
    display: flex;
    width: 25%;
    justify-content: flex-end;
}

.mainContent {
    width: 60%;
    overflow-y: auto;
    display: flex;
    justify-content: center;
}

.asideRight {
    width: 20%;
}


.mainButton {
    display: flex;
    width: 100%;

    padding-left: 10%;
    padding-right: 10%;
    font-size: 22pt;
    font-family: 'Kanit';
    font-weight: bold;
    background-color: inherit;
    color: #010101;
    border: none;
    background-color: none;

    justify-content: center;
    align-items: center;
}

.mainButton:hover {
    cursor: pointer;
    text-shadow: 0px 0px 6px #919191;
}

.logoutButton {
    padding-left: 10%;
    padding-right: 10%;
    font-size: 12pt;
    font-family: 'Kanit';
    font-weight: 500;
    background-color: #F1F1F1;
    color: #010101;
    border: none;
    border-radius: 5px;
    margin: 0.3rem;

    border-width: 2px;
    border-style: solid;
    border-color: #000000;

    box-shadow: -3px 3px 0px black;
    border-radius: 10px;
}

.logoutButton:hover {
    cursor: pointer;
    background-color: #696969;
}

.content {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 50px);
}

.asideContent {
    width: 250px;
}